<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="author" content="Freya Johnson" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="icon" href="images/123456.ico" />
  <title>Finite Automata Game</title>
  <!-- link to CSS -->
  <link href="myTemplate.css" rel="stylesheet" />

  <script src="vue.js"></script>
</head>

<body id="aaaaaa" v-show="showhtml">
  <div id="data">
    <div v-if="homeshow" class="home">
      <h2>Finite automata game</h2>
      <div class="tool">
        <button @click="clickTutorial()">Tutorial</button>
        <button @click="clickexample()">Examples</button>
        <button @click="clickCampaign()">Campaign</button>
        <button @click="clicksettings()">Settings</button>
      </div>
    </div>

    <div id="tutorial" style="display: none;">
      <h3>Tutorial</h3>
      <div>
        <h4>Introduction to Regex</h4>
        <p>Regex, or Regular Expressions, are a powerful tool for manipulating text. They allow you to search, replace,
          and extract information from strings in a very flexible way.</p>
      </div>
      <div>
        <h4>Regex Symbols</h4>
        <p>Common regex symbols include '.' for any character, '*' for zero or more repetitions, '+' for one or more
          repetitions, and '?' for zero or one repetition.</p>
      </div>
      <div>
        <h4>History of Finite State Automata</h4>
        <p>Finite State Automata (FSA) have been used in computer science to describe computational processes. They were
          initially introduced to perform simple decision-making and have evolved to handle complex computations.</p>
      </div>
      <button onclick="toggleTutorial()">Close Tutorial</button>
    </div>

    <div class="level" v-if="campaignshow">
      <div class="top">
        <button @click="clickCampaign()">Back</button>
      </div>
      <div class="boobom">
        <ul>
          <li @click="beginloding(index)" v-for="(i,index) in levels" :key="index">
            {{index+1}}
          </li>
        </ul>
      </div>
    </div>
    <div v-show="settingsShow" class="settings">
      <div class="settingsconter">
        <p class="title">Font size</p>
        <ul>
          <li v-for="(i,index) in bacolor" :key="index" :class="{fontcolor:bacolor[index]}"
            @click="clicksettingcolor(index)">
            {{(index+2)*0.25}}
          </li>
        </ul>
        <div class="colorer">
          <span>Color blindness mode</span><input type="checkbox" @change="clickinput()" :checked="checkedshow" />
        </div>
        <div class="settingsbools">
          <button @click="settingSava">Save</button>
          <button @click="clicksettings1()">Cancel</button>
        </div>
      </div>
    </div>

    <div class="beginloding" v-if="beginlodingshow">
      <div class="beginlodingconter">
        <p>{{logdingtxt}}</p>
        <div class="beginlodingbools">
          <button @click="clickBegin()">Begin</button>
          <button @click="beginloding()">Cancel</button>
        </div>
      </div>
    </div>

    <!-- <div class="example" v-if="exampleshow">
        <div class="exampleconter">
          <h2>{{exampletitle}}</h2>
          <p v-html="exampledetails"></p>
          <div class="examplebools">
            <button @click="clickpagup()">Pageup</button>
            <button @click="clickpagdown()">Pagedown</button>
          </div>
        </div>
        <div class="exampledown" @click="clickexample()">X</div>
      </div> -->

    <div class="tutorialDialog" v-if="tutorialShow">
      <div class="top">
        <button @click="clickTutorial()">Back</button>
      </div>
      <div class="exampleconter">
        <p style="margin-top: 10px;" v-html="regesText"></p>

        <div class="examplebools">
          <button @click="clickTutorial()">Title</button>
          <button @click="clickTutorialpagdown()">Next</button>
        </div>
      </div>
    </div>

    <div class="level" v-if="exampleshow">
      <div class="top">
        <button @click="clickexample()">Back</button>
      </div>
      <div class="boobom">
        <ul>
          <li @click="ldexample(index)" v-for="(i,index) in 10" :key="index">
            {{index+1}}
          </li>
        </ul>
      </div>
    </div>

    <div class="beginloding" v-if="ldexampleshow">
      <div class="beginlodingconter">
        <p>Do you want to open it</p>
        <div class="beginlodingbools">
          <button @click="clickyes()">Yes</button>
          <button @click="ldexample()">NO</button>
        </div>
      </div>
    </div>
    <div class="example1" v-if="yesshow">
      <div class="exampleconter">
        <h2><span>Reges:</span><span>{{reges}}</span></h2>
        <!-- <div class="regesimg"></div> -->
        <img :src="regesimg" alt="" />

        <!-- <p v-html="">111111111111111</p> -->

        <div class="examplebools">
          <button @click="clickyes1()">Title</button>
          <button @click="clickpagdown()">Next</button>
        </div>
      </div>
      <!-- <div class="exampledown" @click="clickexample()">X</div> -->
    </div>

    <!-- 功能区域 -->

    <div class="buttons">
      <!-- Buttons and other elements -->
    </div>
  </div>
  <div class="container">
    <div style="width: 1000px; margin: 0 auto">
      <div id="finishAlert" class="alert alert-success" style="display: none; width: 950px" role="alert">
        <strong>Congratulations!</strong>
        You've finished all the levels, good job! <br />Hopefully you have
        learnt lots along the way. Give yourself a pat on the back- that last
        one was tough!
      </div>
      <div class="svgleft" onclick="clickback()">
        <svg t="1708784590014" class="icon" viewBox="0 0 1100 1024" version="1.1" xmln0s="http://www.w3.org/2000/svg"
          p-id="5036" width="80" height="80">
          <path
            d="M470.676223 288.787784V103.229667c0-30.31474-24.889997-45.47211-44.514802-31.910253C400.314117 89.986912 37.334995 351.012777 14.997819 368.084762a41.961982 41.961982 0 0 0 0 63.820504c31.910252 22.337177 392.496105 282.724836 411.163602 295.967592 22.337177 15.955126 45.47211-4.467435 45.47211-31.910253V532.26301h0.957307c204.225615-17.869741 472.590838-12.444998 583.159863 268.365223 21.379869 54.40698 13.402306 173.910876 22.337177 223.371767 17.869741-12.60455 21.379869-202.470552 22.177625-266.76971 9.892178-398.878155-328.994702-493.172951-629.58928-468.123403z"
            fill="#cdcdcd" p-id="5037"></path>
          <path
            d="M470.676223 222.414459V37.015893c0-30.31474-24.889997-45.47211-44.514802-31.910253C400.314117 23.613587 37.334995 284.958554 14.997819 301.870988a41.802431 41.802431 0 0 0 0 63.820505c31.910252 22.337177 392.496105 282.724836 411.163602 296.127142 22.337177 15.955126 45.47211-4.467435 45.47211-31.910252V465.889685h0.957307c204.225615-17.869741 472.590838-12.444998 583.159863 268.524774 21.379869 54.40698 13.402306 173.910876 22.337177 223.371767 17.869741-12.444998 21.379869-202.470552 22.177625-266.610159 9.892178-398.878155-328.994702-493.172951-629.58928-468.282954z"
            fill="#515151" p-id="5038"></path>
        </svg>
      </div>
      <div style="float: left">
        <div class="toolbar">
          <div style="
                float: left;
                width: 500px;
                height: 90px;
                border: 2px solid #000;
                border-radius: 10px;
                background-color: #ffffff;
                text-align: center;
                line-height: 90px;
                margin-left: 130px;
                margin-top: 5px;
              ">
            <img id="beginBut" width="70" height="70" src="images/begin.png" onclick="beginClicked()"
              data-toggle="tooltip" title="Add a state" />

            <img id="statesBut" width="70" height="70" src="images/stateoneDis.png" onclick="stateClicked()"
              data-toggle="tooltip" title="Add a state" />

            <img id="endBut" width="70" height="70" src="images/endDis.png" onclick="endClicked()" data-toggle="tooltip"
              title="Add a state" />
            <img id="arrowBut" width="70" height="70" src="images/arrowDis.png" onclick="arrowClicked()"
              data-toggle="tooltip" title="Add a connection" />
            <img id="binBut" width="70" height="70" src="images/binDis.png" onclick="binClicked()" data-toggle="tooltip"
              title="Remove a state or connection" />
            <img id="clearBut" width="70" height="70" src="images/clearDis.png" onclick="clearClicked()"
              data-toggle="tooltip" title="Clear the board" />
          </div>
        </div>
        <canvas id="canvas" width="700" height="500" style="border: 1px solid #c3c3c3; float: left">
          Your browser does not support the HTML5 canvas tag.
        </canvas>
      </div>

      <div class="sideBar">
        <div id="levelText" class="levelText" style="width: 500; font-size: 35px">
          LEVEL 1
        </div>
        <h3 id="onerow" style="font-size: 24px">TARGET</h3>
        <div id="targetRect" class="targetRect" style="
              /* height: 50px; */
              display: inline-block;
              width: auto;
              line-height: 35px;
              font-size: 30px;
              color: black;
            "></div>
        <h3 id="tworow" style="font-size: 24px">Guide words</h3>
        <div id="guideRect" class="guideRect" style="height: 110px; width: 200px; font-size: 25px; color: black"></div>
        <br />-------------
        <br />
        <br />
        <button id="doneBut" class="doneBut" style="width: 170px; font-size: 16px" onclick="submitClicked()">
          Submit my finite automaton
        </button>
        <br />

        <div id="feedback" class="feedback"></div>
        <div id="additional" style="visibility: hidden">
          Is there a way you could less states in your automata?
        </div>
        <div class="canvastool" id="nextButton">
          <h1 id="qiehuan">Perfect!</h1>
          <button class="doneBut" style="
                position: absolute;
                /* visibility: hidden; */
                right: 180px;
                bottom: 15px;
                width: 100px;
                height: 40px;
              " onclick="clickback()">
            Back
          </button>
          <button class="doneBut" style="
                position: absolute;
                /* visibility: hidden; */
                right: 25px;
                bottom: 15px;
                width: 100px;
                height: 40px;
              " onclick="mynextLevel()">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!-- <script src="bootstrap-ie10-viewport-bug-workaround.js"></script>

    <script src="bootstrap.min.js"></script> -->

  <script>
    function toggleTutorial() {
      var tutorialDiv = document.getElementById('tutorial');
      if (tutorialDiv.style.display === 'none') {
        tutorialDiv.style.display = 'block';
      } else {
        tutorialDiv.style.display = 'none';
      }
    }
  </script>

  <!-- Script which controls everything!! -->
  <script src="canvas.js"></script>
  <script src="wwww.js"></script>
  <!-- <script src="data.js"></script> -->
</body>

</html>